<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:insert="~{fragment/header :: header}"></div>
</head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div th:insert="~{fragment/spinner :: spinner}"></div>
    <!-- Spinner End -->
    <!-- Sidebar Start -->
    <div th:insert="~{fragment/sidebar :: sidebar}"></div>
    <!-- Sidebar End -->

    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <div th:insert="~{fragment/navbar :: navbar}"></div>
        <!-- Navbar End -->

        <div class="container-fluid pt-xxl-5 px-4">
            <div class="row g-4">
                <div class="col-xl-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Basic Form</h6>
                        <form  th:object="${playerUpdateDto}" method="post">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">이름</label>
                                <input type="text" th:field="*{name}" class="form-control" id="exampleInputEmail1"
                                       aria-describedby="emailHelp">
                                <div class="field-error" th:errors="*{name}">
                                    수량 오류
                                </div>

                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" th:field="*{teamId}" id="floatingSelectTeam" aria-label="Floating label select example">
                                    <option value="">팀 선택</option>
                                    <option th:each="team : ${teamList}"
                                            th:value="${team.id}"
                                            th:text="${team.name}">FAST</option>
                                </select>
                                <label for="floatingSelectTeam">Works with selects</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" th:field="*{position}" id="floatingSelectPosition" aria-label="Floating label select example">
                                    <option value="">==포지션 선택==</option>
                                    <option th:each="position : ${positionList}"
                                            th:value="${position}"
                                            th:text="${position}">FAST</option>
                                </select>
                                <label for="floatingSelectPosition">Works with selects</label>
                            </div>

                            <div class="input-group mb-2">
                                <span class="input-group-text col-1 " id="basic-addon1" >가속력</span>
                                <input type="text" class="col-1" th:field ="*{acceleration}"  aria-label="Username"
                                       aria-describedby="basic-addon1">
                                <span class="input-group-text col-1 " id="basic-addon2">속력</span>
                                <input type="text" class="col-1" th:field ="*{speed}" aria-label="Username"
                                       aria-describedby="basic-addon1">
                                <span class="input-group-text col-1 " id="basic-addon3">몸싸움</span>
                                <input type="text" class="col-1" th:field ="*{physicalFight}"  aria-label="Username"
                                       aria-describedby="basic-addon1">

                                <span class="input-group-text col-1 " id="basic-addon4">체력</span>
                                <input type="text" class="col-1" th:field ="*{stamina}"  aria-label="Username"
                                       aria-describedby="basic-addon1">
                                <span class="input-group-text col-1 " id="basic-addon5">적극성</span>
                                <input type="text" class="col-1" th:field ="*{activeness}"  aria-label="Username"
                                       aria-describedby="basic-addon1">
                                <span class="input-group-text col-1 " id="basic-addon6">점프력</span>
                                <input type="text" class="col-1" th:field ="*{jump}"  aria-label="Username"
                                       aria-describedby="basic-addon1">
                                <span class="input-group-text col-1 " id="basic-addon7">밸런스</span>
                                <input type="text" class="col-1" th:field ="*{balance}"  aria-label="Username"
                                       aria-describedby="basic-addon1">

                                <span class="input-group-text col-1 " id="basic-addon8">볼컨트롤</span>
                                <input type="text" class="col-1" th:field ="*{ballControl}"  aria-label="Username"
                                       aria-describedby="basic-addon1">
                                <span class="input-group-text col-1 " id="basic-addon9">크로스</span>
                                <input type="text" class="col-1" th:field ="*{crosses}"  aria-label="Username"
                                       aria-describedby="basic-addon1">
                                <span class="input-group-text col-1 " id="basic-addon10">패스</span>
                                <input type="text" class="col-1" th:field ="*{pass}"  aria-label="Username"
                                       aria-describedby="basic-addon1">

                                <span class="input-group-text col-1 " id="basic-addon11">롱패스</span>
                                <input type="text" class="col-1" th:field ="*{longPass}"  aria-label="Username"
                                       aria-describedby="basic-addon1">
                                <span class="input-group-text col-1 " id="basic-addon12">드리블</span>
                                <input type="text" class="col-1" th:field ="*{dribble}"  aria-label="Username" aria-describedby="basic-addon1">
                                <span class="input-group-text col-1 " id="basic-addon13">골결정력</span>
                                <input type="text" class="col-1" th:field ="*{goalDetermination}"  aria-label="Username"
                                       aria-describedby="basic-addon1">


                                <span class="input-group-text col-1 " id="basic-addon14">중거리슛</span>
                                <input type="text" class="col-1" th:field ="*{midRangeShot}"  aria-label="Username"
                                       aria-describedby="basic-addon1">
                                <span class="input-group-text col-1 " id="basic-addon15">슛파워</span>
                                <input type="text" class="col-1" th:field ="*{shootPower}"  aria-label="Username"
                                       aria-describedby="basic-addon1">
                                <span class="input-group-text col-1 " id="basic-addon16">헤딩</span>
                                <input type="text" class="col-1" th:field ="*{heading}"  aria-label="Username"
                                       aria-describedby="basic-addon1">

                                <span class="input-group-text col-1 " id="basic-addon17">디펜스</span>
                                <input type="text" class="col-1" th:field ="*{defense}"  aria-label="Username"
                                       aria-describedby="basic-addon1">
                                <span class="input-group-text col-1 " id="basic-addon18">태클</span>
                                <input type="text" class="col-1" th:field ="*{tackle}"  aria-label="Username"
                                       aria-describedby="basic-addon1">
                                <span class="input-group-text col-1 " id="basic-addon19">차단</span>
                                <input type="text" class="col-1" th:field ="*{intercepting}"  aria-label="Username"
                                       aria-describedby="basic-addon1">


                                <span class="input-group-text col-1 " id="basic-addon20">슬라이딩태클</span>
                                <input type="text" class="col-1" th:field ="*{slidingTackle}"  aria-label="Username"
                                       aria-describedby="basic-addon1">
                                <span class="input-group-text col-1 " id="basic-addon21">다이빙</span>
                                <input type="text" class="col-1" th:field ="*{diving}"  aria-label="Username"
                                       aria-describedby="basic-addon1">
                                <span class="input-group-text col-1 " id="basic-addon22">핸들링</span>
                                <input type="text" class="col-1" th:field ="*{handling}"  aria-label="Username"
                                       aria-describedby="basic-addon1">


                                <span class="input-group-text col-1 " id="basic-addon23">골킥</span>
                                <input type="text" class="col-1" th:field ="*{goalKick}"  aria-label="Username"
                                       aria-describedby="basic-addon1">
                                <span class="input-group-text col-1 " id="basic-addon24">반응속도</span>
                                <input type="text" class="col-1" th:field ="*{speedReaction}"  aria-label="Username"
                                       aria-describedby="basic-addon1">


                                <span class="input-group-text col-1 " id="basic-addon26">위치선정</span>
                                <input type="text" class="col-1" th:field ="*{positioning}"  aria-label="Username" aria-describedby="basic-addon1">

                                <span class="input-group-text col-1 " id="basic-addon27">시야</span>
                                <input type="text" class="col-1" th:field ="*{visualRange}"  aria-label="Username" aria-describedby="basic-addon1">

                                <span class="input-group-text col-1 " id="basic-addon28">센스</span>
                                <input type="text" class="col-1" th:field ="*{sense}"  aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                            <div th:if="${#fields.hasGlobalErrors()}">
                                <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                                   th:text="${err}">글로벌 오류 메시지</p>
                            </div>


                            <button type="submit" class="btn btn-primary" >Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Start -->
        <div th:insert="~{fragment/footer :: copy}"></div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>
<!-- JavaScript Libraries -->
<div th:insert="~{fragment/libraries :: libraries}"></div>
<!-- Template Javascript -->
<script src="/js/main.js"></script>
</body>
</html>